<h1>Editing Organisation</h1>

<%= render 'form', organisation: @organisation %>

<%= link_to 'Show', @organisation %> |
<%= link_to 'Back to List', organisations_path %> |
<%= link_to 'Back to Home', root_path %>
